﻿@{
    ViewData["Title"] = "Scraped Meals";
}

<h2>@ViewData["Title"]</h2>
 @model IEnumerable<Recipe>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 
 
 <div id="filterSection">
     <h3>Filter Recipes</h3>
     <form id="filterForm">
         <!-- Add your filter inputs here -->
         <label for="caloriesMin">Min Calories:</label>
         <input type="text" id="caloriesMin" name="caloriesMinFilter">

         <label for="caloriesMax">Max Calories:</label>
         <input type="text" id="caloriesMax" name="caloriesMaxFilter">

         <!-- Add other filter inputs here -->

         <button type="submit">Apply Filters</button>
     </form>
 </div>
 
 
 
 
 
 

 @* <ul>
    @if (ViewData["ScrapedMealHrefs"] != null)
    {
        foreach (var mealHref in ViewData["ScrapedMealHrefs"] as List<string>)
        {
            <li><a href="@mealHref">@mealHref</a></li>
        }
    }
</ul> *@


@* <h3>Scraped rows in list of ingredients:</h3>
<ul>
    @if (ViewData["ScrapedData"] != null)
    {
        foreach (var scrapedInfo in ViewData["ScrapedData"] as List<string>)
        {
            <li>@scrapedInfo</li>
        }
    }
</ul>

*@



@* @{
    var scrapedInstructions = ViewData["ScrapedInstructions"] as List<string>;
}

<h1>Scraped Instructions</h1>

@if (scrapedInstructions != null && scrapedInstructions.Count > 0)
{
    <ul>
        @foreach (var instruction in scrapedInstructions)
        {
            <li>@instruction</li>
        }
    </ul>
}
else
{
    <p>No instructions available.</p>
} *@